
body {
    background-color: black;


}
aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 3px solid #4d4d4d;

}
aside img {
    width: 60px;
    float: left;
}
aside .logo {
    font-size: 30px;
    margin-left: 10px;
    font-weight: bold;
    position: relative;

}
aside h3 {
    margin-top: 50px;
    fon-size: 28px;
}

aside ul {list-style: none}
aside ul li {
    color: #fff;
    display: block;
    margin-top: 20px;
}

aside ul li:hover,aside ul a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1);
}

main .features {
   float: left;
   color: #fff;
   margin-top:90px;
   text-align: center;
   width: 70%;
}
.features h1 {font-size: 50px; color: white;}
.features p {max-width: 400px; margin: 20px auto}

.alert-warning {
    float: left;
    clear: both;
    width: 40px;
    margin: 20px 34%;
    text-align: center;
}

form {
    margin-left: 32%;
    width: 500px;
    margin-top: 50px;
}

main .oracle {
    color: #fff;
    text-align: center;

}



